body {
    background-image:url(../images/bg.jpg);
    background-attachment:fixed;
}
#bannermain {
    width:950px;
    overflow:hidden;
    margin-bottom:10px;
    border-radius:20px;
}
#banner {
    height:150px;
    overflow:hidden;
    margin-bottom:10px;
    border-radius:20px;
}
#main {
    border:solid 5px blue;
    width:950px;
    background-image:url("../images/bg2.png");
    overflow:hidden;
    padding:10px;
    border-radius:20px;
    margin:auto;
}
#navbar {
    border:1px solid black;
    background:darkblue;
    width:930px;
    overflow:hidden;
    padding:10px;
    margin-bottom:10px;
    border-radius:20px;
    font-family:courier, arial, sans-serif;
}
#links {
    float:left;
}
#navlog {
    float:right;
    font-family:courier, arial, sans-serif;
}
a:link {
    color:white;
    text-decoration: none;
}     
a:visited {
    color:white;
    text-decoration: none;
} 
a:hover {
    color:grey;
    text-decoration: none;
}
#container1 {
    border: 5px solid lightblue;
    border-radius:20px;
    padding:10px;
    color:black;
    font-family: courier, arial, sans-serif;
    float:left;
    margin-right:10px;
    margin-bottom: 10px;
    width:600px;
    overflow:hidden;
    background:white;
}
#container2 {
    width:280px;
    margin-left:640px;
    margin-bottom: 10px;
    border:5px solid black;
    border: 5px solid lightblue;
    border-radius:20px;
    padding:10px;
    color:black;
    font-family: courier, arial, sans-serif;
    background:white;
}
#container3 {
    border: 5px solid lightblue;
    border-radius:20px;
    padding:10px;
    color:black;
    font-family: courier, arial, sans-serif;
    margin-right:10px;
    margin-bottom:10px;
    width:920px;
    overflow:hidden;
    background:white;
}
#container4 {
    border: 5px solid lightblue;
    border-radius:20px;
    padding:10px;
    color:black;
    font-family: courier, arial, sans-serif;
    margin-right:10px;
    width:920px;
    overflow:hidden;
    background:white;
}
#footer {
    margin-top:10px;
    border: 5px solid lightblue;
    border-radius:20px;
    padding:10px;
    color:black;
    font-family: courier, arial, sans-serif;
    size:6pt;
    width:920px;
    overflow:hidden;
    background:white;
    text-align:center;
}
#counter {
    margin-top:10px;
    border: 5px solid lightblue;
    border-radius:20px;
    padding:10px;
    color:black;
    font-family: courier, arial, sans-serif;
    size:6pt;
    overflow:hidden;
    background:white;
    text-align:center;
}
/*Modifications for profile page. */

.profile textarea {
    resize:none;
}
.profile #container1 {
    width:680px;
}
.profile #container2 {
    width:200px;
    height:200px;
    margin-left:720px;
}
.profile #container3 {
    width:200px;
    height:40px;
    margin-left:720px;
}


