body{
    background-image: url("file://images/bg.jpg");
    content:center;
}
#bannermain {
    width:950px;
    overflow:hidden;
    margin-bottom:10px;
}
#main {
    border:solid 5px blue;
    width:950px;
    background-color:lightblue;
    overflow:hidden;
    padding:10px;
}
#navbar {
    border:1px solid black;
    font-family: arial sans-serif;
    background:darkblue;
    width:930px;
    overflow:hidden;
    padding:10px;
    margin-bottom:10px;
}
#links {
    float:left;
}
#navlog {
    float:right;
}
a:link {
    color:white;
}     
a:visited {
    color:white;
} 
a:hover {
    color:white;
}
#welcome {
    border:5px solid green;
    padding:10px;
    color:black;
    font-family: courier, arial, sans-serif;
    float:left;
    margin-right:10px;
    width:600px;
    overflow:hidden;
}
#topbands {
    width:280px;
    margin-left:640px;
    border:5px solid black;
    padding:10px;
    
}